<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-screen text-center flex flex-col items-center">
    <main class="flex flex-col gap-8 justify-center items-center h-full">
        <div>
            <h1 class="text-4xl font-bold mb-4">Cadastro</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <form action="/quadros" method="post" class="w-80">
            <div class="fieldset">
                <label for="name" class="fieldset-legend text-lg">Nome</label>
                <input type="text" id="name" class="input w-full">
            </div>
            <div class="fieldset">
                <label for="email" class="fieldset-legend text-lg">Email</label>
                <input type="email" id="email" class="input w-full">
            </div>
            <div class="fieldset">
                <label for="senha" class="fieldset-legend text-lg">Senha</label>
                <input type="password" id="senha" class="input w-full">
            </div>
            <input type="submit" class="btn btn-primary btn-lg mt-8 w-full" value="Fazer cadastro">
        </form>
    </main>
</body>
</html>