{% extends "quadroBase.html" %}
{% set section_title = "Gastos" %}
{% block content %}
    <div class="flex items-center justify-center">
        <div class="max-w-6xl w-full">
            <div class="grid grid-cols-2 gap-8">
                <article class="bg-slate-100 border border-slate-200 rounded-lg p-8">
                    <h3 class="text-2xl font-semibold mb-4">Gastos gerais</h3>
                    <p class="text-3xl text-red-500 font-semibold">R$ 3200</p>
                </article>
                <article class="bg-slate-100 border border-slate-200 rounded-lg p-8">
                    <h3 class="text-2xl font-semibold mb-4">Gastos individuais</h3>
                    <p class="text-3xl text-red-500 font-semibold">R$ 650</p>
                </article>
                <article class="col-span-2">
                    <h3 class="text-2xl font-semibold mb-4">Histórico de gastos</h3>
                    <div class="max-w-6xl w-full rounded-xl overflow-hidden border border-slate-200">
                        <table class="w-full">
                            <tr class="bg-slate-100 text-left border border-slate-200">
                                <th class="py-4 px-8">Nome</th>
                                <th class="py-4 px-8">Tipo de gasto</th>
                                <th class="py-4 px-8">Valor</th>
                            </tr>
                            <tr class="border border-slate-200">
                                <td class="py-4 px-8">Roberto Gonçalves</td>
                                <td class="py-4 px-8">Academia</td>
                                <td class="py-4 px-8 text-red-500 font-bold">R$ 240</td>
                            </tr>
                            <tr class="border border-slate-200">
                                <td class="py-4 px-8">Larissa Sampaio</td>
                                <td class="py-4 px-8">Netflix</td>
                                <td class="py-4 px-8 text-red-500 font-bold">R$ 60</td>
                            </tr>
                            <tr class="border border-slate-200">
                                <td class="py-4 px-8">Pedro Sampaio</td>
                                <td class="py-4 px-8">Aluguel</td>
                                <td class="py-4 px-8 text-red-500 font-bold">R$ 950</td>
                            </tr>
                            <tr class="border border-slate-200">
                                <td class="py-4 px-8">Safira Silva</td>
                                <td class="py-4 px-8">Ifood</td>
                                <td class="py-4 px-8 text-red-500 font-bold">R$ 39</td>
                            </tr>
                        </table>
                    </div>
                </article>
            </div>
        </div>  
    </div>
{% endblock%}