<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-screen text-center flex flex-col items-center">
    <main class="flex flex-col gap-16 justify-center items-center h-full">
        <div>
            <h1 class="text-6xl font-bold max-w-200 mb-4">G-Finance — gestão financeira para grupos</h1>
            <p class="text-lg">A revolução da gestão financeira chegou e vai mudar a forma como você se organiza</p>
        </div>
        <div class="flex gap-4">
            <a href="/cadastro" class="btn btn-accent btn-lg">Inscrever-se</a>
            <a href="/login" class="btn btn-accent btn-outline btn-lg">Acessar conta</a>
        </div>
    </main>
</body>
</html>