{% extends "quadroBase.html" %}
{% set section_title = "Início" %}
{% block content %}
    <div class="flex justify-center">
        <div class="max-w-6xl w-full">
            <h1 class="text-5xl font-bold mb-12">Seja bem vindo, Rodrigo!</h1>
            <div class="flex rounded-lg border border-amber-200 bg-amber-100 items-center p-4">
                <span class="text-4xl me-4">⚠️</span>
                <p class="grow">Percebemos que você está gastando demais com delivery. Tome cuidado, você ainda não pagou o aluguel.</p>
            </div>
        </div>
    </div>
{% endblock %}